@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

:root {
    --background-color: #fff;
    --body-color: #0d0004;
    --success-color: #098043;
    --error-color: #eb502b;
}

body {
    background: var(--background-color);
    color: var(--body-color);
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.head {
    position: relative;
    background-image: url(../img/pizza.jpg);
    background-size: cover;
    background-position: center;
    margin: 0 0 15px;
}

.head * {
    position: relative;
    z-index: 2;
}

.head-backing {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1 !important;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.6);
}

container {
    display: flex;
    justify-content: center;
    padding: 0 15px;
}

container > .container-content {
    width: 100%;
    max-width: 1020px;
}

nav {
    padding: 18px 0;
}

nav > container > .container-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0;
}

nav > container > .container-content > * {
    display: block;
    padding: 10px 18px;
}

nav .nav-logo {
    max-width: 110px;
}

nav .nav-link {
    line-height: 1;
    font-size: 18px;
    font-weight: 900;
    color: #fff;
    text-decoration: none;
}

.head-content {
    padding: 100px 25px 195px;
    text-align: center;
}

.head-content h1 {
    color: #fff;
    font-weight: 700;
    font-size: 54px;
    margin: 0 0 22px;
}

.head-content p {
    color: #fff;
    font-weight: 500;
    font-size: 20px;
}

section {
    display: flex;
    padding: 100px 0;
    justify-content: center;
}

section > .section-column {
    width: 50%;
}

section > .section-column:not(:first-child) {
    padding-left: 25px;
}

section > .section-column:not(:last-child) {
    padding-right: 25px;
}

section img {
    max-width: 100%;
}

section h2 {
    color: var(--body-color);
    font-weight: 700;
    font-size: 36px;
    margin: 12px 0 18px;
}

section p {
    color: var(--body-color);
    font-weight: 500;
    font-size: 18px;
    margin: 0 0 10px;
}

@media screen and (max-width: 700px) {
    section {
        flex-direction: column;
        align-content: center;
    }

    section > .section-column {
        flex: 1 1 100%;
        width: calc(100% - 30px);
        text-align: center;
    }

    section img {
        margin: 0 0 20px;
    }

    section > .section-column.image {
        order: 1;
    }

    section > .section-column:not(.image) {
        order: 2;
    }
}

.button {
    display: inline-block;
    padding: 10px 15px;
    background: var(--success-color);
    border-radius: 100px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}

section .button {
    margin-top: 20px;
}

hr {
    border: 0;
    border-top: 1px solid #aaaaaa;
    border-style: dashed;
    margin: 0;
}

footer {
    margin: 15px 0 0;
    padding: 30px 15px;
    background: #171717;
    text-align: center;
}

.footer {
    display: flex;
    justify-content: center;
}

.footer > .footer-content-block {
    flex: 1 1 300px;
}

footer h6, footer p {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    margin: 0 0 2px;
}

footer p {
    font-size: 15px;
    font-weight: 500;
}

footer a {
    font-weight: 500;
    color: #fff !important;
    text-decoration: underline;
    text-underline-offset: 2px;
}

footer .legal-text {
    font-size: 12px;
    font-weight: 400;
    color: #aaa;
    margin: 18px 0 0;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 0;
}

.menu-item {
    flex: 1 1 300px;
    padding: 15px;
    text-align: center;
}

.menu h6, .menu p {
    font-size: 18px;
    font-weight: 700;
    color: var(--body-color);
    margin: 0 0 10px;
}

.menu p {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

form input, form textarea {
    display: block;
    width: 100%;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #aaa;
    background: #fff !important;
    color: #000 !important;
    border-radius: 5px;
}

form .form-group:not(:last-child) {
    margin: 0 0 18px;
}

form label {
    display: block;
    font-size: 15px;
    margin: 0 0 4px;
}

form label .required {
    color: #ff4343;
}

.about-section {
    text-align: left;
    display: block;
}
